
@{
    ViewBag.Title = "Üye Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LibraryManagment.Data.Model
@model Members


<div class="form-wrapper">
    <form class="form-horizontal d-flex flex-column">
        <div class="row">
            <div class="col-6 form-group mb-3">
                <label>Ad</label>
                <input class="form-control mt-1" type="text" id="memberName" value="@Model.Name" placeholder="Üye Adını Giriniz" />
            </div>
            <div class="col-6 form-group mb-3">
                <label>Soyad</label>
                <input class="form-control mt-1" type="text" id="memberLastName" value="@Model.Lastname" placeholder="Üye Soyadını Giriniz" />
            </div>
        </div>
        <div class="col-12 mb-3">
            <label>TC Kimlik No</label>
            <input class="form-control mt-1" type="text" id="memberTCKNO" value="@Model.TCKNO" placeholder="TC Kimlik No Giriniz" />
        </div>
        <div class="col-12 mb-3">
            <label>Telefon Numarası</label>
            <input class="form-control mt-1" type="text" id="memberPhone" value="@Model.Phone" placeholder="Telefon Numarası Giriniz" />
        </div>
        <div class="col-12 form-group mt-3">
            <input type="button" id="updateMember" data-id="@Model.ID" class="btn btn-primary" value="Güncelle" />
        </div>
    </form>
</div>

